html {
  height:100%;
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, .4);
  background-color: #111111;
  margin: 0 auto;
  padding: 64px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 540px;
  height: 100%;
}

* {
  box-sizing: inherit;
}


.wrapper {
  min-height: 85%;
}

h1, p, a {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: .4px;
}

h1 {
  color: rgba(255, 255, 255, .9);
}

p {
  line-height: 24px;
}

a {
  color: rgba(255, 255, 255, .9);
}

a:hover {
  color: rgba(255, 255, 255, 1);
  transition: all .3s;
}

a.link-item {
  display: inline-block;
  margin-right: 24px;
}

img#qr-code {
  max-width: 120px;
}
@media (max-width:629px) {
  body {
    padding: 64px 32px;
  }
  img#qr-code {
    display: none;
  }
  a.link-item {
    display: block;
    width: 90%;
    margin-bottom: 24px;
  }
}

.footer {
  padding: 32px 0;
}

#pleasr-logo a img {
  display : block;
  margin : auto;
  opacity: .5;
}
#pleasr-logo a:hover img {
  transition: all .3s;
  opacity: .9;
}